.button {
    display: block;
    position: relative;
    margin: 10px;
    transition: all 0.1s;
    text-decoration: none;
    color: $c-white;
    border: none;
    background-color: $c-black;
    width: 300px;
    max-width: 100%;
    text-shadow: 0 -2px $c-dark-gray;
    font-size: 25px;
    @media (min-width: $screen-sm-min) {
        padding: 10px 40px;
    }

    @media (max-width: $screen-xs-max) {
        padding: 10px 5px;
    }

    &:hover {
        @media (min-width: $screen-md-min) {
            transform: scale(0.95);
		}
    }

    &--center {
        margin: 10px auto;
    }

    &--left {
        float: left;
    }

    &-right {
        float: right;
    }
}
