.button {
    display: block;
    position: relative;
    margin: 10px;
    transition: all 0.1s;
    text-decoration: none;
    color: $c-white;
    border: none;
    width: 300px;
    max-width: 100%;
    font-size: 25px;
    text-align: center;
    font-family: "Pacifico", cursive;
    @media (min-width: $screen-sm-min) {
        padding: 10px 40px;
    }

    @media (max-width: $screen-xs-max) {
        padding: 10px 5px;
    }

    &--black {
        text-shadow: 0 -2px $c-dark-gray;
        background-color: $c-black;

        &:hover {
            @media (min-width: $screen-md-min) {
                transform: scale(0.95);
    		}
        }
    }

    &--white {
        background-color: transparent;
        border: 2px solid $c-white;

        &:hover {
            @media (min-width: $screen-md-min) {
                color: $c-black;
                background-color: $c-white;
                transform: scale(0.95);
    		}
        }
    }

    &--cyan {
        background-color: $c-cyan;

        &:hover {
            @media (min-width: $screen-md-min) {
                transform: scale(0.95);
    		}
        }
    }

    &--center {
        margin: 10px auto;
    }

    &--left {
        float: left;
    }

    &--right {
        float: right;
    }

    &--spinner {
        text-shadow: 0 -2px $c-black;
        color: $c-black;
        &:after {
            content: '';
            display: block;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            background-size: cover;
            transform: translate(-50%, -50%);
            background-image: url(../images/spinner.svg);
        }
    }

    &--form {
        @media (max-width: $screen-xs-max) {
            max-width: 100%;
            width: 100%;
            margin: 0;
            font-size: 18px;
        }
    }

    &__wrapper {
        &--hero {
            display: flex;
            justify-content: center;
        }
    }
}
