.form {
	&__input {
		input {
			width: 100%;
			margin-bottom: 20px;
			padding: 10px 5px;
			color: $c-black;
			border: none;
			border-bottom: 2px solid $c-black;
			background-color: transparent;
			font-family: 'Sarine', sans-serif;
			font-weight: 700;
			@include placeholder {
				color: $c-black;
				opacity: 0.5;
				font-family: 'Sarine', sans-serif;
				font-size: 18px;
				font-weight: 700;
			}

			&:focus {
				outline: none;
			}
		}
	}

	&__textarea {
		textarea {
			width: 100%;
			max-width: 100%;
			margin-bottom: 20px;
			padding: 10px 5px;
			color: $c-black;
			border: none;
			min-height: 150px;
			border-bottom: 2px solid $c-black;
			background-color: transparent;
			font-family: 'Sarine', sans-serif;
			font-weight: 700;
			@include placeholder {
				color: $c-black;
				opacity: 0.5;
				font-family: 'Sarine', sans-serif;
				font-size: 18px;
				font-weight: 700;
			}

			&:focus {
				outline: none;
			}
		}
	}
}
