.form {
	&__input {
		input {
			width: 100%;
			color: $c-black;
			border: none;
			background-color: transparent;
			font-family: 'Sarine', sans-serif;
			font-weight: 700;

			@include placeholder {
				color: $c-black;
				opacity: 0.5;
				font-weight: 700;
				font-family: 'Sarine', sans-serif;

			}

			@media (min-width: $screen-sm-min) {
				padding: 10px 5px;
				font-size: 18px;
				margin-bottom: 20px;
				border-bottom: 2px solid $c-black;
				@include placeholder {
					font-size: 18px;
				}
			}
			@media (max-width: $screen-xs-max) {
				padding: 2px 5px;
				font-size: 12px;
				margin-bottom: 5px;
				border-bottom: 1px solid $c-black;
				@include placeholder {
					font-size: 12px;
				}
			}
			@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
			}


			&:focus {
				outline: none;
			}
		}
	}

	&__textarea {
		textarea {
			width: 100%;
			max-width: 100%;
			color: $c-black;
			border: none;
			font-weight: 700;
			background-color: transparent;
			font-family: 'Sarine', sans-serif;

			@include placeholder {
				color: $c-black;
				opacity: 0.5;
				font-weight: 700;
				font-family: 'Sarine', sans-serif;

			}

			@media (min-width: $screen-sm-min) {
				padding: 10px 5px;
				font-size: 18px;
				margin-bottom: 20px;
				min-height: 150px;
				border-bottom: 2px solid $c-black;
				@include placeholder {
					font-size: 18px;
				}
			}
			@media (max-width: $screen-xs-max) {
				padding: 2px 5px;
				font-size: 12px;
				margin-bottom: 5px;
				min-height: 80px;
				border-bottom: 1px solid $c-black;
				@include placeholder {
					font-size: 12px;
				}
			}

			&:focus {
				outline: none;
			}
		}
	}
}
