.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 80px;
    max-height: 80px;
    padding: 20px 0;
    transition: all 0.2s linear;
    background: transparent;

    &--fixed {
        background-color: rgba($c-dark-gray, 0.9);

        .header__logo {
            display: block;
            width: auto;
            height: 60px;
            margin: -10px 0;

            @media (max-width: $screen-md-max) {
                position: static;
                float: right;
                transform: translateX(0);
            }
        }
    }

    &__logo {
        left: 50%;
        display: none;
        max-width: 100%;
        position: absolute;
        transform: translateX(-50%);

        &--hide {
			display: none !important;
		}
    }
}
