.navigation {
	position: relative;

	@media (max-width: $screen-xs-max) {
		position: fixed;
		height: 100vh;
		width: 200px;
		z-index: 20;
		transition: all 0.5s ease;
		transform: translateX(-200px);
		background-color: rgba($c-dark-gray, 0.9);
	}

	&--mobile-show {
		@media (max-width: $screen-xs-max) {
			transform: translateX(0);
		}
	}

	&__logo {
		display: none;

		@media (max-width: $screen-xs-max) {
	        display: block;
	        max-width: 100%;
			height: 60px;
			margin: 15px auto 0;
		}
	}

	&__menu {
		margin: 0;
		padding: 0;
		@include clearfix;

		@media (min-width: $screen-sm-min) {
			display: none;
			float: left;
			height: 46px;
			list-style-type: none;
		}

		@media (max-width: $screen-xs-max) {
			top: 50%;
			right: 0;
			text-align: right;
			position: absolute;
			transform: translateY(-50%);
		}

		> li {
			display: block;

			@media (min-width: $screen-sm-min) {
				float: left;
			}

			> a {
				position: relative;
				display: block;
				color: $c-white;
				font-size: 18px;
				font-weight: 500;
				padding: 0 10px;
				margin: 0 15px;
				line-height: 46px;
				text-decoration: none;

				@media (min-width: $screen-sm-min) {
					transition: all 0.1s linear;
				}

				@media (max-width: $screen-xs-max) {
					text-align: right;
				}

				&:before {
					@media (min-width: $screen-sm-min) {
						content: '';
						display: block;
						position: absolute;
						bottom: 0;
						left: 50%;
						width: 0;
						height: 2px;
						transform: translateX(-50%);
						background-color: $c-white;
						transition: all 0.1s linear;
					}
				}

				&:hover {
					@media (min-width: $screen-sm-min) {
						margin-top: -2px;
					}
					&:before {
						@media (min-width: $screen-sm-min) {
							width: 100%;
						}
					}
				}
			}
		}
	}

	&__toggle {
		font-size: 0;
		border: none;
		display: block;
		float: left;
		margin-left: 10px;
		transition: all 0.5s linear;
		background-color: transparent;
		@media (min-width: $screen-sm-min) {
			padding: 7px;
			transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
			transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
		}
		@media (max-width: $screen-xs-max) {
			padding: 10px;
		}

		.bar {
			display: block;
			transition: all 0.1s linear;
			background-color: $c-white;
			@media (min-width: $screen-sm-min) {
				width: 38px;
				height: 2px;
				transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
				transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
			}
			@media (max-width: $screen-xs-max) {
				width: 24px;
				height: 1px;
			}

			+ .bar {
				@media (min-width: $screen-sm-min) {
					margin-top: 11px;
				}
				@media (max-width: $screen-xs-max) {
					margin-top: 7px;
				}
			}
		}

		&--active {
			.bar {
				@media (min-width: $screen-sm-min) {
					width: 38px !important;
				}
				@media (max-width: $screen-xs-max) {
					width: 24px !important;
				}
				&:nth-child(1) {
					transform: rotate(-45deg);

					@media (min-width: $screen-sm-min) {
						margin-top: 12px;
					}
					@media (max-width: $screen-xs-max) {
						margin-top: 9px;

					}
				}
				&:nth-child(2) {
					transform: rotate(45deg);
					@media (min-width: $screen-sm-min) {
						margin-top: -2px;
					}
					@media (max-width: $screen-xs-max) {
						margin-top: -1px;

					}
				}
				&:nth-child(3) {
					transform: rotate(45deg);
					@media (min-width: $screen-sm-min) {
						margin-top: -2px;
					}
					@media (max-width: $screen-xs-max) {
						margin-top: -1px;

					}
				}
			}
		}

		&--right {
			float: right;
		}

		&:hover {
			.bar:nth-child(1) {
				@media (min-width: $screen-sm-min) {
					width: 24px;
				}
			}

			.bar:nth-child(3) {
				@media (min-width: $screen-sm-min) {
					width: 28px;
				}
			}
		}
	}
}
