.navigation {
	top: 20px;
	left: 20px;
	position: absolute;

	&__menu {
		display: none;
		margin: 0;
		padding: 0;
		float: left;
		height: 46px;
		list-style-type: none;
		@include clearfix;

		> li {
			display: block;
			float: left;

			> a {
				position: relative;
				display: block;
				color: $c-white;
				font-size: 18px;
				font-weight: 500;
				padding: 0 10px;
				margin: 0 15px;
				line-height: 46px;
				text-decoration: none;
				transition: all 0.1s linear;

				&:before {
					@media (min-width: $screen-md-min) {
						content: '';
						display: block;
						position: absolute;
						bottom: 0;
						left: 50%;
						width: 0;
						height: 2px;
						transform: translateX(-50%);
						background-color: $c-white;
						transition: all 0.1s linear;
					}
				}

				&:hover {
					@media (min-width: $screen-md-min) {
						margin-top: -2px;
					}
					&:before {
						@media (min-width: $screen-md-min) {
							width: 100%;
						}
					}
				}
			}
		}
	}

	&__toggle {
		font-size: 0;
		border: none;
		display: block;
		float: left;
		background-color: transparent;
		@media (min-width: $screen-md-min) {
			padding: 7px;
			transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
			transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
		}
		@media (max-width: $screen-sm-max) {
			padding: 10px;
		}

		.bar {
			display: block;
			transition: all 0.1s linear;
			background-color: $c-white;
			@media (min-width: $screen-md-min) {
				width: 38px;
				height: 2px;
				transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
				transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
			}
			@media (max-width: $screen-sm-max) {
				width: 24px;
				height: 1px;
			}

			+ .bar {
				@media (min-width: $screen-md-min) {
					margin-top: 11px;
				}
				@media (max-width: $screen-sm-max) {
					margin-top: 7px;
				}
			}
		}

		&--active {
			.bar {
				@media (min-width: $screen-md-min) {
					width: 38px !important;
				}
				@media (max-width: $screen-sm-max) {
					width: 24px !important;
				}
				&:nth-child(1) {
					transform: rotate(-45deg);

					@media (min-width: $screen-md-min) {
						margin-top: 12px;
					}
					@media (max-width: $screen-sm-max) {
						margin-top: 9px;

					}
				}
				&:nth-child(2) {
					transform: rotate(45deg);
					@media (min-width: $screen-md-min) {
						margin-top: -2px;
					}
					@media (max-width: $screen-sm-max) {
						margin-top: -1px;

					}
				}
				&:nth-child(3) {
					transform: rotate(45deg);
					@media (min-width: $screen-md-min) {
						margin-top: -2px;
					}
					@media (max-width: $screen-sm-max) {
						margin-top: -1px;

					}
				}
			}
		}

		&:hover {
			.bar:nth-child(1) {
				@media (min-width: $screen-md-min) {
					width: 24px;
				}
			}

			.bar:nth-child(3) {
				@media (min-width: $screen-md-min) {
					width: 28px;
				}
			}
		}
	}
}
