.popup {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;

    &__close {
        position: absolute;
        top: 35px;
        right: 35px;
        height: 29px;
        cursor: pointer;
        padding-top: 13px;
        .bar {
            display: block;
            width: 38px;
            height: 2px;
            background-color: #000;
            transform: rotate(-45deg);

            &+ .bar {
                margin-top: -1px;
                transform: rotate(45deg);
            }
        }
    }
}
