.section {
    &__hero {
        @media (min-width: $screen-xs-min) {
            padding: 600px 0 300px;
        }
        @media (min-width: $screen-sm-min) {
            padding: 600px 0 0;
        }
        @media (min-width: $screen-md-min) {
            padding: 600px 0 0;
        }
        @media (min-width: $screen-lg-min) {
            padding: 600px 0 0;
        }
    }

    &__about {
        padding: 120px 0 120px;
        img {
            max-width: 100%;
        }
    }
}
