

// Colors
// ===================================================

$c-white:      #ffffff;
$c-cyan:       #004f4f;
$c-black:      #000000;
$c-red:        #993939;
$c-dark-gray:  #2f2f2f;
$c-dark-gray-2:#636363;
$c-light-gray: #a3a3a3;
