@font-face {
  font-family: 'Sarine';
  src: url('../fonts/Sarine-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Sarine';
  font-weight: 500;
  src: url('../fonts/Sarine-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Sarine';
  font-weight: 700;
  src: url('../fonts/Sarine-Bold.ttf') format('truetype');
}

body {
    font-family: 'Pacifico', cursive;
}

h1 {
    font-size: 0;
}

h2 {
    text-align: justify;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

a:focus,
button:focus,
select:focus {
    outline: none;
}
