@font-face {
  font-family: 'Sarine';
  src: url('../fonts/Sarine-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Sarine';
  font-weight: 500;
  src: url('../fonts/Sarine-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Sarine';
  font-weight: 700;
  src: url('../fonts/Sarine-Bold.ttf') format('truetype');
}

body {
    font-family: 'Pacifico', cursive;
}

h1 {
    font-size: 0;
}

h2 {
    text-shadow: -1px -2px $c-light-gray;
    text-align: center;
    margin: 0;
    @media (min-width: $screen-md-min) {
        font-size: 56px;
    }
    @media (max-width: $screen-sm-max) {
        font-size: 48px;
    }
}

h3 {
    font-weight: 500;
    margin: 0 0 25px;
    font-family: "Sarine", sans-serif;

    @media (min-width: $screen-md-min) {
        font-size: 32px;
    }
    @media (max-width: $screen-sm-max) {
        font-size: 24px;
    }
}

p {
    font-weight: 500;
    font-family: "Sarine", sans-serif;

    @media (min-width: $screen-md-min) {
        font-size: 18px;
    }
    @media (max-width: $screen-sm-max) {
        font-size: 12px;
    }
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

a:focus,
button:focus,
select:focus {
    outline: none;
}
