.page {
	position: absolute;
	width: 100%;
	height: 100%;
	@media (min-width: $screen-md-min) {
		-webkit-box-shadow: inset 0 0 86px -12px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 0 0 86px -12px rgba(0,0,0,0.75);
		box-shadow: inset 0 0 86px -12px rgba(0,0,0,0.75);
	}

	&__logo {
		@media (min-width: $screen-md-min) {
			display: block;
			margin: 0 auto;
		}
	}

	&__title {
		background-size: cover;
		background-position: center center;
		background-image: url('../images/background.jpg');
		h1 {
			font-family: $f-roboto;
			font-size: 40px;
			margin: 0;
		}
	}
}
