

// Colors
// ===================================================

$c-white:      #ffffff;
$c-cyan:       #008080;
$c-cyan-2:     #004f4f;
$c-black:      #000000;
$c-red:        #b60000;
$c-dark-gray:  #4d4d4d;
$c-dark-gray-2:#636363;
$c-light-gray: #a3a3a3;
