

// Colors
// ===================================================

$c-white:      #ffffff;
$c-cyan:       #00fff0;
$c-black:      #000000;
$c-red:        #b60000;
$c-dark-gray:  #4d4d4d;
$c-light-gray: #a3a3a3;


// Fonts
// ===================================================

$f-roboto: 'Roboto', sans-serif;
